*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-width: 700px;
}

.wrapper{
    background-color: rgb(233, 215, 193);
    width: 100%;
    height: 88%;
    border-bottom: 2px solid grey;
}

/* header */

header{  
    height: 12%; 
    font-family: 'Press Start 2P';
    padding: 15px;
    background-color: grey;
}

.title_text{
    margin: 5px auto;
}

.title_text a{
    color:rgb(255, 228, 196);
    font-size: 30px;
    
    text-decoration: none;
}


/* aside */

.sidebar{
    float:left;
    width: 15%;
    border-right: 2px solid grey;
    border-top: 0;
    height: 100%;
    background-color:rgb(233, 215, 193);
}

ul{
    border-bottom: 1px solid grey;
}

li{
    overflow: hidden;
    display:block;
    border-top: 1px solid grey;
    text-align: center;
}

li a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

li a p{
    word-wrap: break-word;
    margin:10% 5%;
}

.curr_nav{
    background-color:antiquewhite;
}


li:hover{
    background-color: antiquewhite;
    transform: scale(1.02);
}

details[open] {
    border-bottom: 1px solid grey; 
}


.sidebar_details summary{
    text-align: center;
    list-style:none;
    cursor: pointer;
    word-wrap: break-word;
    margin:10% 5%;
    text-transform: uppercase;
}

.sidebar_details summary:before {
    content: "+";
    font-size: 20px;
    font-weight: bold;
 }

 .sidebar_details[open] summary:before {
    content: "-";
 }

 .details_items{
    width: 100%;
    display: flex;
    padding-top: 20px;
 }

 .hobby_details{
    flex: 1;
    font-family:  'Press Start 2P';
    float: left;
    text-align: center;
    cursor: pointer;
    word-wrap: break-word;
    text-transform: uppercase;
 }

 .hobby_details summary{
    list-style:none;
 }

 .hobby_details .detaisl_item{
    margin-top:15px;
 }

 .hobby_details img{
    width: 95%;
    height: 150%;
 }
/* main */


main{
    float:left;
    overflow: hidden;
    height: 100%;
    width: 85%;
    background-color:bisque;
}

.hobby_info{
    overflow: scroll;
}

.text_info_main{
    text-align: center;
    width: 55%;
}


.text_info_main p, .text_info p{
    margin:20%;
}

.hello_gif{
    float:left;
    width: 30%;
    height: 100%;
}

.hello_gif img{
    width: 100%;
    height: 99.5%;
}

/* table */
table{
    margin:0 auto;
    margin-top: 3%;
    border: 3px solid grey;
    background-color:rgb(255, 255, 255);
    
}

.evalutions_green{
    background-color: green;
}

.evalutions_red{
    background-color: red;
}

.evalutions_yellow{
    background-color: yellow;
}

td{
    border: 1px solid grey;
    text-align: center;
}

td a{
    text-decoration: none;
    color:#4006c7;
}

.about_table .t_info{   
    width: 400px;
    height: 30px;
}

.about_table .t_about{
    height: 200px;
}

#avatar{
    width: 150px;
    height: 150px;
}

#avatar img{
    width: 150px;
    height: 150px;
}

td .t_about_link{
    text-decoration: none;
    color:rgb(64, 6, 199);
}

.about_table span{
    color:#4006c7;
}

.t_footer img{
    margin: 0 20px;
    vertical-align:middle;
}

.t_footer img:hover{
    transform: scale(1.1);
    cursor: pointer;
}