*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    margin-left: 15px;
    padding-left: 15px;
}

html, body{
    height: 100%;
}

.creating_div{
    height: inherit;
}

.context{
    height: 100%;
    width: 100%;
    
    padding: 10px;
}

fieldset{
    border: 1px solid #000;
    padding: 10px;
    background-color: beige;
}

